In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import re

In [8]:
# Read the tab-separated CSV file
df = pd.read_csv('pola2018.csv')
df.head()

,Date,POLA Vessels at\nAnchor,POLA Vessels at\nBerth,POLA Vessels\nDeparted,Average Days at\nBerth,Average Days at\nANC + Berth
0,1/2/2018,0,11,0,0.0,0
1,1/3/2018,0,15,1,1.0,1
2,1/4/2018,0,12,5,3.0,3
3,1/5/2018,0,11,3,3.0,3
4,1/8/2018,O 0,6,2,2.5,2.5

In [13]:
df = df.rename(columns={'Date':'date',
                   'POLA Vessels at\nAnchor':'num_at_anchor', 
                   'POLA Vessels at\nBerth':'num_at_berth',
                   'POLA Vessels\nDeparted':'departed',
                   'Average Days at\nBerth':'avg_days_at_berth',
                   'Average Days at\nANC + Berth':'avg_days_anchor_berth'})

In [ ]:
df.date = pd.to_datetime(df.date)

In [15]:
df = df.set_index('date')

In [16]:
df.head()

,num_at_anchor,num_at_berth,departed,avg_days_at_berth,avg_days_anchor_berth
date,,,,,
2018-01-02,0,11,0,0.0,0
2018-01-03,0,15,1,1.0,1
2018-01-04,0,12,5,3.0,3
2018-01-05,0,11,3,3.0,3
2018-01-08,O 0,6,2,2.5,2.5

In [17]:
def prep_data(df):
    df = df.rename(columns={'Date':'date',
                   'POLA Vessels at\nAnchor':'num_at_anchor', 
                   'POLA Vessels at\nBerth':'num_at_berth',
                   'POLA Vessels\nDeparted':'departed',
                   'Average Days at\nBerth':'avg_days_at_berth',
                   'Average Days at\nANC + Berth':'avg_days_anchor_berth'})
    df.date = pd.to_datetime(df.date)
    df = df.set_index('date')
    return df

In [18]:
df = pd.read_csv('pola15.csv')
df.head()

,Date,POLA Vessels at\nAnchor,POLA Vessels at\nBerth,POLA Vessels\nDeparted,Average Days at\nBerth,Average Days at\nANC + Berth
0,3/17/2015,15,16,5,4.0,9.4
1,3/18/2015,12,16,3,5.3,6.0
2,3/19/2015,13,17,LO 5,5.6,12.2
3,3/20/2015,10,16,5,2.4,3.8
4,3/23/2015,8,15,2,4.0,15.5

In [20]:
df0 = prep_data(pd.read_csv('pola15.csv'))
df1 = prep_data(pd.read_csv('pola16.csv'))
df2 = prep_data(pd.read_csv('pola17.csv'))
df3 = prep_data(pd.read_csv('pola2018.csv'))

In [24]:
df = pd.concat([df0, df1, df2, df3], axis=0)

In [26]:
df

,num_at_anchor,num_at_berth,departed,avg_days_at_berth,avg_days_anchor_berth
date,,,,,
2015-03-17,15,16,5,4.0,9.4
2015-03-18,12,16,3,5.3,6.0
2015-03-19,13,17,LO 5,5.6,12.2
2015-03-20,10,16,5,2.4,3.8
2015-03-23,8,15,2,4.0,15.5
...,...,...,...,...,...
2018-12-21,0,15,2,4.0,4
2018-12-24,0,15,2,2.5,2.5
2018-12-25,1,13,3,2.66,2.66
2018-12-26,2,14,1,5.0,5
2018-12-27,1,16,3,5.33,5.33

In [27]:
df.to_csv('pola.csv')

In [37]:
for col in df.columns:
    display(df[col].unique().tolist())

['15',
 '12',
 '13',
 '10',
 '8',
 '7',
 '1',
 '2',
 '3',
 '4',
 '0',
 'O',
 'O 0',
 'o 0',
 'o']

['16',
 '17',
 '15',
 '12',
 '14',
 '13',
 '11',
 '10',
 '5',
 '9',
 '7',
 '6',
 '57',
 '00 8',
 '8',
 '0',
 '4',
 'ܩ',
 'ܗ',
 '5 сл',
 '3',
 '9 LO',
 'U 5',
 'LO 5',
 '∞0',
 '2',
 'LO 6']

['5',
 '3',
 'LO 5',
 '2',
 '4',
 '7',
 '1',
 '0',
 '6',
 '9',
 'UT 5',
 'LO 6',
 '5 сл',
 'сл',
 '12',
 '8',
 '11',
 'N 2',
 'N 7']

[4.0,
 5.3,
 5.6,
 2.4,
 4.5,
 5.0,
 4.85,
 3.25,
 4.66,
 0.0,
 4.6,
 2.66,
 3.57,
 1.0,
 10.0,
 2.5,
 4.25,
 2.33,
 5.8,
 3.0,
 1.5,
 2.0,
 3.88,
 1.75,
 2.25,
 1.66,
 3.5,
 3.14,
 3.8,
 1.6,
 3.2,
 3.4,
 3.33,
 3.66,
 1.33,
 7.25,
 2.75,
 3.16,
 1.8,
 2.8,
 1.25,
 2.6,
 1.67,
 3.28,
 3.3,
 1.7,
 4.8,
 1.3,
 2.3,
 1.83,
 2.2,
 2.67,
 2.83,
 3.75,
 2.16,
 2.17,
 3.17,
 1.4,
 '0',
 '3.2',
 '3.66',
 '2',
 '3',
 '3.5',
 '1.66',
 '2.5',
 '4',
 '2.25',
 '1',
 '3.83',
 '1.67',
 '4.5',
 '1.25',
 '1.5',
 '2.4',
 '1.33',
 '2.6',
 '2.33',
 '2.14',
 '3.75',
 '3.4',
 '2.2',
 '6',
 '4.33',
 '1.8',
 '3.8',
 '1.75',
 '7',
 '3.33',
 '3.6',
 '4.25',
 '2.75',
 '2.57',
 '2.3',
 '3.67',
 '3.3',
 '2.66',
 '2.71',
 '5 СЛ',
 '5.5',
 '4.3',
 '3.7',
 '5',
 '4.2',
 '3.25',
 '2.7',
 '8',
 6.0,
 7.0,
 2.7,
 2.43,
 3.166,
 2.88,
 3.625,
 3.91,
 4.36,
 2.71,
 0.285,
 2.55,
 3.43,
 3.78,
 8.0,
 3.71,
 5.33]

[9.4,
 6.0,
 12.2,
 3.8,
 15.5,
 10.5,
 6.75,
 7.42,
 9.0,
 9.5,
 8.25,
 4.25,
 12.0,
 5.0,
 7.25,
 0.0,
 7.0,
 4.6,
 6.2,
 2.83,
 2.66,
 3.71,
 1.0,
 14.0,
 2.5,
 4.0,
 5.8,
 4.5,
 1.5,
 2.0,
 4.11,
 3.0,
 2.4,
 2.75,
 1.66,
 3.5,
 3.14,
 1.6,
 3.2,
 3.4,
 3.33,
 3.66,
 1.33,
 2.33,
 1.75,
 3.16,
 2.8,
 1.25,
 2.25,
 2.6,
 1.67,
 3.28,
 3.3,
 1.7,
 4.8,
 1.3,
 2.3,
 1.83,
 '4.66',
 '2',
 '2.5',
 '3',
 '2.2',
 '2.66',
 '1.66',
 '3.5',
 '1.5',
 '0',
 '2.67',
 '2.83',
 '4',
 '2.3',
 '3.3',
 '3.66',
 '1.33',
 '1',
 '1.67',
 '1.8',
 '2.4',
 '3.75',
 '1.75',
 '3.33',
 '2.75',
 '2.25',
 '3.25',
 '1.25',
 '2.33',
 '2.16',
 '2.17',
 '3.17',
 'LO 5',
 '5',
 '3.4',
 '1.3',
 3.83,
 2.14,
 3.75,
 2.2,
 4.33,
 1.8,
 3.6,
 2.57,
 3.67,
 2.71,
 5.5,
 4.3,
 3.7,
 4.2,
 3.25,
 2.7,
 8.0,
 '1.6',
 '6',
 '2.6',
 '7',
 '4.5',
 '2.7',
 '2.43',
 '4.25',
 '3.166',
 '2.8',
 '1.44',
 '2.88',
 '3.625',
 '3.91',
 '4.36',
 '3.8',
 '2.71',
 '0.285',
 '2.55',
 '5 Сл',
 '3.43',
 '3.78',
 '8',
 '3.71',
 '5.33']

### Replace poorly formatted values in the num_at_anchor column

In [58]:
# Apply the regular expression to filter the DataFrame
df[df.num_at_anchor.astype(str).str.match(r'[^\d]+')].head(30)

,num_at_anchor,num_at_berth,departed,avg_days_at_berth,avg_days_anchor_berth
date,,,,,
2015-10-20,O,7,3,2.0,2.0
2015-10-21,O,7,3,1.0,1.0
2015-10-22,O 0,12,2,2.0,2.0
2016-05-25,O,10,2,2.0,2
2016-05-26,O,12,2,2.0,2
2016-05-27,O,10,5,2.66,2.66
2016-07-01,O 0,10,4,2.25,2.25
2016-07-05,O,5,0,0.0,0
2016-07-06,O,10,0,0.0,0
2016-08-09,O 0,8,2,1.0,1
2016-08-10,O,10,3,2.33,2.33
2016-08-11,O,9,5 сл,1.8,1.8
2016-10-24,O 0,5,1,5.0,LO 5
2016-10-25,O 0,7,2,2.5,2.5
2016-10-26,O,10,2,1.5,1.5
2017-05-25,O,11,4,1.75,1.75
2017-05-26,O,8,5,3.4,3.4
2017-05-30,O 0,9,1,6,6.0
2017-07-03,O,7,1,3,3.0
2017-07-05,O,9,5,3.6,3.6
2017-07-06,O,13,1,2,2.0
2017-08-09,O 0,9,3,1.66,1.66
2017-08-10,O,12,2,1.5,1.5
2017-08-11,O,9,7,2.57,2.57
2017-09-15,O 0,10,4,2,2.0
2017-09-18,O,6,3,3.3,3.3
2017-09-19,O,3,LO 5,3.6,3.6
2017-10-24,O 0,9,1,7,7.0
2017-10-25,O 0,11,3,2,2.0
2017-10-26,O,11,3,2,2.0

In [64]:
# Replace 'O 0' and 'O' with 0
df.num_at_anchor = df.num_at_anchor.astype(str).str.replace('O 0', '0').replace('O', '0')\
                    .replace('o 0', '0').replace('o', '0')

In [65]:
# Check that poorly formatted values are gone
df[df.num_at_anchor.astype(str).str.match(r'[^\d]+')].head(30)

Empty DataFrame
Columns: [num_at_anchor, num_at_berth, departed, avg_days_at_berth, avg_days_anchor_berth]
Index: []

#### All poorly formatted values were removed

### Replace poorly formatted values in the num_at_berth column

In [53]:
# Apply the regular expression to filter the DataFrame
df[df.num_at_berth.astype(str).str.match(r'[^\d]+')]

,num_at_anchor,num_at_berth,departed,avg_days_at_berth,avg_days_anchor_berth
date,,,,,
2016-05-23,0,ܩ,3,3.33,3.33
2016-05-24,0,ܗ,2,1.5,1.5
2017-01-17,0,U 5,2,4,4.0
2017-04-17,0,LO 5,4,3.5,3.5
2017-04-19,0,∞0,4,3.75,3.75
2017-04-24,0,LO 5,3,3.66,3.66
2018-09-11,0,LO 6,LO 5,3.4,3.4

In [79]:
df.loc['2016-05-23', 'num_at_anchor'] = 0
df.loc['2016-05-23', 'num_at_berth'] = 6
df.loc['2016-05-23', 'departed'] = 3
df.loc['2016-05-23', 'avg_days_at_berth'] = 3.33
df.loc['2016-05-23', 'avg_days_anchor_berth'] = 3.33

In [81]:
df.loc['2016-05-24', 'num_at_berth'] = 9
df.loc['2017-01-17', 'num_at_berth'] = 5
df.loc['2017-04-17', 'num_at_berth'] = 5
df.loc['2017-04-19', 'num_at_berth'] = 8
df.loc['2017-04-24', 'num_at_berth'] = 5
df.loc['2018-09-11', 'num_at_berth'] = 6

In [82]:
df[df.num_at_berth.astype(str).str.match(r'[^\d]+')]

Empty DataFrame
Columns: [num_at_anchor, num_at_berth, departed, avg_days_at_berth, avg_days_anchor_berth]
Index: []

In [87]:
# Apply the regular expression to filter the DataFrame
df[df.departed.astype(str).str.match(r'[^\d]+')]

,num_at_anchor,num_at_berth,departed,avg_days_at_berth,avg_days_anchor_berth
date,,,,,
2015-03-19,13,17,LO 5,5.6,12.2
2015-05-15,0,11,LO 5,2.4,2.4
2015-06-05,0,9,LO 5,3.8,3.8
2015-06-22,1,9,LO 5,3.4,3.4
2015-08-13,0,11,UT 5,1.8,2.0
2015-10-26,0,5,LO 6,3.5,3.5
2015-11-30,0,6,LO 5,4.8,4.8
2016-01-08,0,8,LO 5,2.2,2.2
2016-01-15,0,10,UT 5,3.0,3
2016-02-05,0,12,LO 6,2.83,2.83
2016-08-03,0,10,LO 5,1.8,1.8
2016-09-08,1,9,LO 5,2.0,2
2016-09-15,0,10,LO 5,2.2,2.2
2016-11-04,0,10,LO 5,2.2,2.2
2016-12-16,0,10,LO 5,2.2,2.2
2017-02-06,0,6,LO 6,4.5,4.5
2017-03-20,0,5,LO 5,3.2,3.2
2017-05-17,0,8,LO 5,2,2.0
2017-05-19,0,11,LO 5,2.2,2.2
2017-05-22,0,4,LO 5,3.8,3.8
2017-05-31,0,11,LO 5,2.2,2.2
2017-06-01,0,11,LO 5,2,2.0
2017-08-03,0,10,LO 5,2.6,2.6
2017-08-31,0,10,сл,2.2,2.2
2017-09-07,0,10,LO 5,2.2,2.2
2017-09-19,0,3,LO 5,3.6,3.6
2017-10-05,0,10,LO 6,2,2.0
2017-10-27,0,8,LO 5,3,3.0
2017-11-29,0,12,LO 5,4,4.0
2017-12-11,0,7,LO 5,4.2,4.2
2018-02-16,0,8,LO 5,3.0,3
2018-05-25,0,8,LO 5,2.8,2.8
2018-06-21,0,11,LO 5,1.8,1.8
2018-09-11,0,6,LO 5,3.4,3.4
2018-10-30,0,12,N 2,3.5,3.5
2018-10-31,0,10,N 7,3.43,3.43

In [88]:
df.departed = df.departed.astype(str).str.replace('LO 5', '5').replace('LO 6', '6')\
                    .replace('UT 5', '5')

In [89]:
# Apply the regular expression to filter the DataFrame
df[df.departed.astype(str).str.match(r'[^\d]+')]

,num_at_anchor,num_at_berth,departed,avg_days_at_berth,avg_days_anchor_berth
date,,,,,
2017-08-31,0,10,сл,2.2,2.2
2018-10-30,0,12,N 2,3.5,3.5
2018-10-31,0,10,N 7,3.43,3.43

In [90]:
df.loc['2017-08-31', 'departed'] = 5

In [91]:
df.departed = df.departed.astype(str).str.replace('N 2', '2').replace('N 7', '7')

In [92]:
# Apply the regular expression to filter the DataFrame
df[df.departed.astype(str).str.match(r'[^\d]+')]

Empty DataFrame
Columns: [num_at_anchor, num_at_berth, departed, avg_days_at_berth, avg_days_anchor_berth]
Index: []

In [56]:
# Apply the regular expression to filter the DataFrame
df[df.avg_days_anchor_berth.astype(str).str.match(r'[^\d]+')]

,num_at_anchor,num_at_berth,departed,avg_days_at_berth,avg_days_anchor_berth
date,,,,,
2016-10-24,O 0,5,1,5.0,LO 5
2018-02-05,0,6,4,5.0,LO 5

In [96]:
df.loc['2016-10-24', 'avg_days_anchor_berth'] = 5
df.loc['2018-02-05', 'avg_days_anchor_berth'] = 5

In [97]:
df[df.avg_days_anchor_berth.astype(str).str.match(r'[^\d]+')]

Empty DataFrame
Columns: [num_at_anchor, num_at_berth, departed, avg_days_at_berth, avg_days_anchor_berth]
Index: []

In [98]:
df.head()

,num_at_anchor,num_at_berth,departed,avg_days_at_berth,avg_days_anchor_berth
date,,,,,
2015-03-17,15,16,5,4.0,9.4
2015-03-18,12,16,3,5.3,6.0
2015-03-19,13,17,5,5.6,12.2
2015-03-20,10,16,5,2.4,3.8
2015-03-23,8,15,2,4.0,15.5

## Prep Summary
- pdfs of nums acquired from https://www.portoflosangeles.org/business/supply-chain/ships
- pdfs were converted to csv files at https://nanonets.com/convert-pdf-to-csv
- csvs were formatted in the Numbers app on MacOS to a form where pandas could read the file into a dataframe
- columns were renamed for readability
- columns were concatenated to form the final dataframe

# Explore

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 950 entries, 2015-03-17 to 2018-12-27
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   num_at_anchor          950 non-null    object
 1   num_at_berth           950 non-null    object
 2   departed               950 non-null    object
 3   avg_days_at_berth      950 non-null    object
 4   avg_days_anchor_berth  950 non-null    object
dtypes: object(5)
memory usage: 44.5+ KB

In [30]:
df.num_at_anchor.plot()

TypeError: no numeric data to plot